linode_api_token        = "YOUR_LINODE_API_TOKEN"

linode_vm_root_password = "A_SECURE_PASSWORD"

public_ssh_key          = "YOUR_PUBLIC_SSH_KEY" 

# Note that the Private Key needs to be a single line string, So you need to use "\n" to separate new lines.
private_ssh_key         = "YOUR_PRIVATE_SSH_KEY"

cloudflare_email        = "YOUR_CLOUDFLARE_ACCT_EMAIL@SOMETHING.com"

cloudflare_api_token    = "YOUR_CLOUDFLARE_API_TOKEN"

site_domain             = "YOUR_DOMAIN_ZONE"